body ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

input {
    min-height: 41px;
}

header {
    box-shadow: 0px 2px 7px -2px #707070;
    position: sticky;
    top:0;
    background-color: white;
    z-index: 10000;
}

.header-logo {
    width:170px;
}

.call-number {
    font-size: 31px;
}

/* Мейн блок*/
.main-block {
    position: relative;
    background-image: url("../img/hbg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px;
}
.main-block > div {
    position: relative;
}

.main-block >div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 650px;
    width: 100px;
    height: 471px;
    background: white;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
}

.h_text_blk {
    height: 100%;
    left:calc(50% - 790px);
    min-width: 200px;
    max-width: 650px;
    z-index: 1000;
    background: white;
    padding: 0  0 20px 70px;
    justify-content: space-between;
}


/*Карточка с номером машины*/
.card-pass {
    padding: 25px 30px 31px 50px;
    background: linear-gradient(to left,rgb(0, 154, 219) 20%, rgb(0, 104, 181) 100%);
}
.card-pass h2 {
    margin-top: 0;
}

.pass-form {
    justify-content: center;
    margin-right: 60px;
    gap: 10px;
}

.pass-form input {
    background-color: white;
    padding: 5px 0 5px 0;
    border-radius: 21px;
    box-shadow: 3px 3px  4px #004476;
}

.pass-form input:first-child {
    flex: 4;
    padding-left: 24px;
}

.pass-form input:last-child {
    flex: 1;
    font-size: 21px;
    cursor: pointer;
}

.card-pass p {
    font-size: 14px;
}


.depart .ab_text p{
    margin-bottom: 20px;
}

.depart .ab_text{
    flex: 12;
}

.depart svg{
    flex:1;
    margin-right: 40px;
}

.depart svg path{
    fill: white;
}


/*Блок с ВЫБОРОМ ТИПА ПРОПУСКА*/


.category-card__list {
    flex: 1;
    padding: 10px 0px 35px 60px;
}

.category-card__list hr{
    width: 130px;
    height: 1px;
    border: none;
    margin-left: 0;
}

.category-card__list input[type="radio"] {
    display: inline-block;
    height: 21px;
    width: 21px;
    background: black;
    margin:0;
}

.category-card__list-day {
    position: relative;
    font-size: 27px;
}

.card__list-abbr {
    font-size: 36px;
    color: #0068B5;
}

.category-card__list-price {
    gap:18px;
}

.category-card__list-price input:checked ~ div::before {
    background: linear-gradient(to left, rgb(0, 104, 181) 5%, rgb(0, 154, 219) 100%);
}

.category-card__list-price > div {
    position: relative;
}

.category-card__list-price > div::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #D2D1D1;
    position: absolute;
    left: -35px;
    top:2px
}

.category-card__list-price input[type="radio"]{
    display: none;
}


.category-card__list-price label {
    font-size: 20px;
}

.card__list-price {
    font-size: 29px;
    font-weight: 700;
}

/*Блок с СИСТЕМОЙ СКИДОК*/
.discount-system {
    background-image: url("../img/bus.webp");
    background-repeat: no-repeat;
    background-position-x: 1155px;
    background-position-y: -30px
}

.discount-system h2 {
    margin-bottom: 17px;

}

.discount-personal input:not(:last-child) {
    background-color: #ffff;
    color: #161615;
    font-size: 16px;
    height: 42px;
    padding: 3px 25px;
    border: 1px solid #D2D1D1;
    border-radius: 20px;
    display: inline-block;
}

/*Блок получения пропуска*/
.howToGet-pass {
    padding: 25px 50px 25px 50px;
    box-shadow: 3px 3px  4px #707070;
}

.howToGet-pass h2 {
    margin-top: 0;
}


.get-pass__info-card p {
    font-size: 20px;
    line-height: 1.3;
}

.get-pass__info-card .top{
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 30px;
}

.get-pass__info-card .top .arrow{
    flex: 1;
    background-image: url(../img/big_arrow.svg);
    background-position: center right;
    background-repeat: no-repeat;
    margin: 0 20px;
}

.get-pass__info .get-pass__info-card:nth-child(1){
    flex: 3;
}

.get-pass__info .get-pass__info-card:nth-child(2){
    flex: 3;
}

.get-pass__info .get-pass__info-card:last-child{
    flex: 1;
}


/* БЛОК Список необходимых документов*/

.need-document__list {
    flex: 1;
    font-size: 20px;
    line-height: 1;
}

.need-document__list-wrapper img{
    width: 100%;
    object-fit: contain;
    object-position: top;
}


.need-document__list-info {
    padding: 20px 20px 30px 20px;
}

.need-document__list-info p:first-child {
    margin-bottom: 10px;
}

.list-info__abbr {
    font-size: 22px;
    color:#0068B5;
}

.abbr-transcript {
    padding-bottom: 20px;
    margin-bottom: 18px;
    border-bottom: 1px solid rgba(0,104,181,0.3);
    font-size: 14px;
    color: gray
}

/*БЛОК ПРАВИЛ ПРОЕЗДА ГРУЗОВОГО АВТО*/

.rules-block__list {
    padding: 0 30px;
    width:32%;
}

.rules-block__list img {
    width: 95px;
    height: 95px;
    margin: 25px auto;
}

.rules-block__list p {
    text-align: center;
    max-width: 395px;
    margin-bottom: 10px;
}


/*Блок наши преимущества*/

.advantages-info__list {
    flex: 1;
}

.advantages-info {
    display: flex;
}

.our-advantages h2 {
    margin-top: 0px;
}

.advantages {
    padding:25px 50px 40px 50px;
}

.list-number {
    width: 117px;
    height: 117px;
    background: linear-gradient(to left, rgb(0, 104, 181) 5%, rgb(0, 154, 219) 100%);
    border-radius: 100px;
    border:10px solid #E6E6E6;
    z-index: 1000;
}

.list-number span{
    position: relative;
    top: -18px;
    left: 25px;
    font-size: 87px;
    color:#ffff;
}

.list-text {
    background: linear-gradient(to left, rgb(0, 104, 181) 5%, rgb(0, 154, 219) 100%);
    height: 117px;
    width:79%;
    line-height: 1.1;
    padding: 10px 20px 10px 60px;
    margin-left: -50px;
    border-radius: 0 20px 20px 0;
    display: flex;
}

.list-text p {
    font-size: 24px;
    color:#ffff;
    margin: auto 0;
}

.get-pass__info-card {
    flex:1;
    display: flex;
    flex-direction: column;
}

#map {
    height: 350px;
    position: relative;
}


.contacts_blk {
    width:300px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    z-index: 10000;
    left: calc(50% - 720px);
    top:25px;
    box-shadow: 0 3px 3px -1px #707070;
    border: 1px solid #E6E6E6;
    padding: 10px 30px;
}

.contacts_blk h2{
    margin: 0 0 20px 0;
}

/* Иконка меню */

.icon-menu {
    position: -webkit-sticky;
    position: sticky;
    width: 31.8px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 31.8px;
            flex: 0 0 31.8px;
    height: 23.2px;
    cursor: pointer;
    z-index: 5;
    display: none;
  }

  .icon-menu span {
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #0068B5;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -ms-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 9px;
  }

  .icon-menu.active span:last-child {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: 12px;
  }

/* Иконка меню end */

/* Страница 404 */

.e404 {
    text-align: center;
    padding: 40px 0;
}

.e404 p{
    margin: 20px 0;
}

.e404 h1{
    font-size: 98px;
}

/* Страница 404 end */


@media (max-width: 1480px) {
    .__container {
        width: 99%;
        padding:0 1%;
    }
    .h_text_blk {
        left: 0;
    }
    .discount-system {
        background-position-x: 830px;
    }

    .contacts_blk {
        left: calc(50% - 680px);
    }
}

@media (max-width: 1280px) {
    .contacts_blk {
        left: calc(50% - 600px);
    }
    .category-card {
        gap: 20px;
    }
}

@media (max-width: 1080px) {

    .h_text_blk {
        padding: 0 1%;
    }

    /*Общий паддинг*/
    .p_t_80 {
        padding-top: 45px;
    }

    .need-document {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .need-document__list {
        width:30%;
        flex: initial;
    }

    .need-document__list-info {
        padding: 20px 10px 30px 10px;
    }

    .rules-block {
        gap: 10px;
    }

    .rules-block__list {
        padding: 0 15px;
    }

    .list-number span {
        top: -8px;
        left: 26px;
        font-size: 80px;
    }

    .list-text p {
        font-size: 20px;
    }

    .contacts_blk {
        left: 10px;
        top: 8px;
    }

    .header-call {
        flex-direction: column;
        gap: 0;
    }

    .call-number {
        font-size: 26px;
    }

    .pass-form {
        margin-right: 0;
    }

    .category-card {
        flex-wrap: wrap;
    }

    .category-card__list {
        flex: auto;
        min-width: 250px;
    }

    .discount-system {
        background-position-x: 720px;
    }

    .advantages-info {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .advantages-info__list {
        min-width: 50%;
        margin: 10px 0;
    }

    .get-pass__info-card p {
        max-width: 300px;
    }
}

@media (max-width: 950px) {

    .__container {
        max-width: 98%;
        padding: 0 1%;
    }

    .header {
        align-items: normal;
    }

    .nav-menu {
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }
    .header-call {
        display: none;

    }
    .main-block >div::after {
        display: none;
    }
    h1 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    h2 {
        line-height: 1.2;
        font-size: 36px;
    }

    .card-pass {
        padding: 30px 5px;
    }

    .areas-districts__group {
        grid-template-columns: repeat(2,1fr);
    }

    .pass-form {
        flex-direction: column;
        margin: 0 0.5rem 5% 0.5rem;
    }

    .card-pass p {
        margin: 0 0.5rem 0 0.5rem;
    }

    section h2 {
        margin: 0.7em 0.5rem;
    }

    .category-pass {
        flex-direction: column;
        gap:10;
    }

    .category-card {
        flex-direction: column;
    }

    .discount-choice__list {
        flex-direction: column;
    }

    .discount-personal__form {
        flex-direction: column;
    }

    .discount-personal__form .btn {
        margin: 0 auto;
    }

    .howToGet-pass {
        padding: 25px 10px 25px 10px;
    }

    .get-pass__info {
        flex-direction: column;
        gap: 20px;
    }

    .get-pass__info-card .arrow {
        display: none;
    }

    .get-pass__info-card .top {
        justify-content: center;
    }

    .get-pass__info-card p {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        text-align: left;
    }



    .need-document__list {
        width:46%;

    }

    .rules-block {
        flex-wrap: wrap;
        gap:30px;
    }

    .rules-block__list {
        width:46%;

    }

    .advantages {
        padding: 25px 10px 40px 10px
    }
    .advantages-info {
        flex-direction: column;
        gap: 10px;
    }

    .header-nav {
        display: none;
    }

    .icon-menu {
        display: block;
        margin-top: auto;
        margin-bottom: auto;
    }



    .main-block {
        display: flex;
        background-position: right center;
    }

    .h_text_blk {
        height: 80%;
        padding:  30px 20px;
        margin: auto auto auto 0;
    }

    h1 {
        margin-top: 0;
        font-size: 32px;
    }

    .get-pass__info-card p {
        max-width: unset;
    }

    .get-pass__info-card{
        flex-direction: row;
    }

    .get-pass__info-card .top {
        margin-right: 30px;
        margin-bottom: 0;
    }

    #map {
        display: flex;
        flex-direction: column;
    }

    .contacts_blk {
        position: relative;
        top:unset;
        left:unset;
        width: 96%;
        margin: 0 auto 20px auto;
    }

    .depart .ab_text {
        flex: 5;
    }

    .depart svg {
        margin-right: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 480px) {
    .h_text_blk {
        height: auto;
    }

    .h_text_blk p{
        margin: 0.7em 0;
    }

    .h_text_blk p br{
        display: none;
    }

    .get-pass__info-card .top {
        width:80px;
        min-width:80px;
    }

    .need-document__list {
        width: 100%;
    }
    .rules-block__list {
        width: 100%;
    }

    header {
        padding: 10px 0!important;
    }
}

@media (max-width: 340px) {
    .category-card__list {
        padding: 10px 10px 35px 40px;
    }

    .category-card__list-day {
        font-size: 24px;
    }


    .category-card__list-price > div::before {
        content: "";
        left: -25px;
    }

    .list-text {
        width: 75%;
    }

    .list-text p {
        font-size: 18px;
    }
}
