@charset "UTF-8";

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Bold.eot");
  src: local("☺"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/Lato-Semibold.eot");
  src: local("☺"), url("../fonts/Lato-Semibold.woff") format("woff"), url("../fonts/Lato-Semibold.ttf") format("truetype"), url("../fonts/Lato-Semibold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}


@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Black.eot');
    src: local('Lato Black'), local('Lato-Black'),
        url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato-Black.woff') format('woff'),
        url('../fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}


/*Общие стили для тегов*/

body {
    color:#161615;
    font-family: "Lato";
}

/*Заголовки*/

h1{
    font-size: 48px;
    font-weight: 900;
    line-height: 1;
    margin: 36px 0 26px 0;
}

h2 {
    font-size: 44px;
    font-weight: 600;
    line-height: 1;
    margin: 26px 0 40px 0;
    padding: 10px 0;
}

input {outline:none;}

/*Ссылки*/

a {
    color:#161615;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.max_w_256 {
    max-width: 256px;
}

.max_w_256 {
    max-width: 256px;
}

/*Блоки*/

section h2 {
    margin: 0.7em 0;
}

.__container{
    width:1440px;
    margin: 0 auto;
}

/*Цвет фона*/

.blue_bg {
    background-color: #0081C8;
}

.gray_bg {
    background-color: #E6E6E6;
}
/*Цвет текста*/

.white_color {
    color:#ffff;
}

.blue_color {
    color: #0068B5;
}

/*Флексы*/

.d_flex{
    display: flex;
}

.f_wrap{
    flex-wrap: wrap;
}

.f_a_center {
align-items: center;
}

.f_col{
    flex-direction: column;
}

.f_1 {
    flex:1
}

.f_2 {
    flex:2
}

.f_4 {
    flex:4
}

.jc_sb {
    justify-content: space-between;
}

.f_wrap {
    flex-wrap: wrap;
}

.f_gap_10 {
    gap: 10px;
}


.f_gap_20 {
    gap: 20px;
}

.f_gap_25 {
    gap: 25px;
}

.f_gap_30 {
    gap: 30px;
}

.f_gap_35 {
    gap: 35px;
}

.f_gap_40 {
    gap: 40px;
}

/* MARGIN */
.m_b_40 {
    margin-bottom: 40px;
}
.m_b_22 {
    margin-bottom: 22px;
}

.m_t_22 {
    margin-top: 22px;
}

.p_y_20 {
    padding: 20px 0;
}

.p_y_80 {
    padding: 80px 0;
}
.p_t_80 {
    padding-top: 80px;
}

.pos_rel{
    position: relative;
}

.pos_abs{
    position: absolute;
}


/* Кнопка для ссылок*/

.gradient_red {

    background: linear-gradient(to left, #ff0024 5%, #EE3F58 100%);
}

.btn {
    background: linear-gradient(to left, rgb(0, 104, 181) 5%, rgb(0, 154, 219) 100%);
    color: white;
    font-size: 21px;
    padding: 7px 25px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
}
/*Общая нопка для товаров и категорий*/
.btn-common {
    background-color: #ffff;
    color: #0068B5;
    font-size: 21px;
    height: 42px;
    padding: 3px 33px;
    border: 1px solid #D2D1D1;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
}
.btn-common:hover {
    text-decoration: none;
}
.btn-active {
    background: linear-gradient(to left, rgb(0, 104, 181) 5%, rgb(0, 154, 219) 100%);
    color: #FFFFFF;
}


.btn-common:hover,
.btn-common.active,
.gradient {
    background: linear-gradient(to left, rgb(0, 104, 181) 5%, rgb(0, 154, 219) 100%);
    color:white;
}

.btn_empty {
    background: white;
    color: black;
    padding-left:25px!important;
    padding-right:25px!important;
}

/*Эффект рамки используется на 3 элементах*/
.border_block {
    border: 1px solid #D2D1D1;
    border-radius: 22px;
    box-shadow: 0 3px 3px -1px #707070;
    overflow: hidden;
}

/* Оформление скрола */

::-webkit-scrollbar {
    overflow-y: scroll;
    width: 7px;
    background-color: #f9f9fd;
  }

  ::-webkit-scrollbar-thumb {
    background-color: grey;
  }

/* Оформление скрола end */
