body ul {
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.header {
    margin-top: 22px;
}
.header-logo img {
    margin-right: 10px;
}

.header-logo p {
    font-size: 27px;
    line-height: 1;
}


.call-number {
    font-size: 31px;
}

/* Мейн блок*/
.main-block {
    position: relative;
}
.main-block::after {
    content: "";
    position: absolute;
    top:0;
    left: 803px;
    width: 1100px;
    height: 470px;
    background-image: url("../img/main-bg-r.jpg");
    background-repeat: no-repeat;
    z-index: 1;

}
.main-block::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 700px;
    height: 470px;
    background-image: url("../img/main-bg-l.jpg");
    background-repeat: no-repeat;
    z-index: 1;
}
.main-page {
    position: relative;
    z-index: 2;
}

.main-page p {
    font-size: 20px;
}

/*Карточка с номером машины*/
.card-pass {
    padding: 25px 30px 31px 50px;
    background: linear-gradient(to left,rgb(0, 154, 219) 20%, rgb(0, 104, 181) 100%);
}
.card-pass h2 {
    margin-top: 0;
}

.pass-form {
    justify-content: center;
    margin-right: 60px;
    gap: 10px;
}

.pass-form input {
    background-color: white;
    padding: 5px 0 5px 0;
    border-radius: 21px;
    box-shadow: 3px 3px  4px #004476;
}

.pass-form input:first-child {
    flex: 4;
    padding-left: 24px;
}

.pass-form input:last-child {
    flex: 1;
    font-size: 21px;
    cursor: pointer;
}

.card-pass p {
    font-size: 14px;
}

/*Блок с ВЫБОРОМ ТИПА ПРОПУСКА*/
.category-card__list {
    flex: 1;
    padding: 10px 0px 35px 25px;
}

.category-card__list input[type="radio"] {
    display: inline-block;
    height: 21px;
    width: 21px;
    background: black;
    margin:0;
}

.category-card__list-day {
    position: relative;
    font-size: 27px;
    border-bottom: 1px solid #0068B5;
    margin-left: 38px;
    margin-bottom: 25px;
}

.card__list-abbr {
    font-size: 36px;
    color: #0068B5;
}

.category-card__list-price {
    gap:18px;
}
.category-card__list-price label {
    font-size: 20px;
}

.card__list-price {
    font-size: 29px;
    font-weight: 700;
}

/*Блок с СИСТЕМОЙ СКИДОК*/
.discount-system {
    background-image: url("../img/bus.png");
    background-repeat: no-repeat;
    background-position-x: 1155px;
    background-position-y: -30px
}

.discount-system h2 {
    margin-bottom: 17px;
    
}

.discount-personal input:not(:last-child) {
    background-color: #ffff;
    color: #161615;
    font-size: 16px;
    height: 42px;
    padding: 3px 25px;
    border: 1px solid #D2D1D1;
    border-radius: 20px;
    display: inline-block;
}

/*Блок получения пропуска*/
.howToGet-pass {
    padding: 25px 50px 40px 50px;
    box-shadow: 3px 3px  4px #707070;
}

.howToGet-pass h2 {
    margin-top: 0;
}

.get-pass__info-card p {
    font-size: 20px;
    line-height: 1.3;
}

.info-card__img-block {
    margin-left: 25px;
    margin-bottom: 14px;
}


/* БЛОК Список необходимых документов*/

.need-document__list {
    flex: 1;
    font-size: 20px;
    line-height: 1;
}

.need-document__list img {
width: 337px;
height: 159px;
}

.need-document__list-info {
    padding: 20px 20px 30px 20px;
}

.need-document__list-info p:first-child {
    margin-bottom: 10px;
}

.list-info__abbr {
    font-size: 30px;
    color:#0068B5;
}

.abbr-transcript {
    padding-bottom: 20px;
    margin-bottom: 18px;
    border-bottom: 1px solid rgba(0,104,181,0.3);
}

/*БЛОК ПРАВИЛ ПРОЕЗДА ГРУЗОВОГО АВТО*/

.rules-block__list {
    padding: 0 30px;
}

.rules-block__list img {
    width: 95px;
    height: 95px;
    margin: 25px auto;
}

.rules-block__list p {
    text-align: center;
    max-width: 395px;
    margin-bottom: 10px;
}


/*Блок наши преимущества*/

.our-advantages {
    
}

.our-advantages h2 {
    margin-top: 0px;
}

.advantages {
    padding:25px 50px 40px 50px;
}

.list-number {
    width: 97px;
    height: 97px;
    margin-right: 10px;
    background: linear-gradient(to left, rgb(0, 104, 181) 5%, rgb(0, 154, 219) 100%);
    border-radius: 50px;
}
.list-number span{
    position: relative;
    top: -18px;
    left: 25px;
    font-size: 87px;
    color:#ffff;
}

.list-text {
    background: linear-gradient(to left, rgb(0, 104, 181) 5%, rgb(0, 154, 219) 100%);
}
.list-text p {
    font-size: 24px;
    color:#ffff;
}
/* Кнопка для ссылок*/
.btn {
    background: linear-gradient(to left, rgb(0, 104, 181) 5%, rgb(0, 154, 219) 100%);
    color: white;
    font-size: 21px;
    width: 256px;
    padding: 7px 25px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
}
/*Общая нопка для товаров и категорий*/
.btn-common {
    background-color: #ffff;
    color: #0068B5;
    font-size: 21px;
    height: 42px;
    padding: 3px 33px;
    border: 1px solid #D2D1D1;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
}
.btn-common:hover {
    text-decoration: none;
}
.btn-active {
    background: linear-gradient(to left, rgb(0, 104, 181) 5%, rgb(0, 154, 219) 100%);
    color: #FFFFFF;
}