/*Общие стили для тегов*/

body {
    color:#161615;
}

/*Заголовки*/

h1{
    font-size: 56px;
    font-weight: 100;
    line-height: 1;
    margin: 36px 0 26px 0;
}

h2 {
    font-size: 44px;
    font-weight: 100;
    line-height: 1;
    margin: 26px 0 40px 0;
    padding: 10px 0;
}

/*Ссылки*/

a {
    color:#161615;
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;
}

/*Блоки*/

section h2 {
    margin: 0.7em 0;
}

.__container{
    width:1440px;
    margin: 0 auto;
}

/*Цвет фона*/

.blue_bg {
    background-color: #0081C8;
}

.gray_bg {
    background-color: #E6E6E6;
}
/*Цвет текста*/

.white_color {
    color:#ffff;
}

.blue_color {
    color: #0068B5;
}

/*Флексы*/

.d_flex{
    display: flex;
}

.f_a_center {
align-items: center;
}

.f_col{
    flex-direction: column;
}

.f_1 {
    flex:1
}

.f_2 {
    flex:2
}

.f_4 {
    flex:4
}

.jc_sb {
    justify-content: space-between;
}

.f_wrap {
    flex-wrap: wrap;
}

.f_gap_10 {
    gap: 10px;
}


.f_gap_25 {
    gap: 25px;
}

.f_gap_30 {
    gap: 30px;
}

.f_gap_35 {
    gap: 35px;
}

.f_gap_40 {
    gap: 40px;
}

/* MARGIN */
.m_b_40 {
    margin-bottom: 40px;
}
.m_b_22 {
    margin-bottom: 22px;
}

/*Эффект рамки используется на 3 элементах*/
.border_block {
    border: 1px solid #D2D1D1;
    border-radius: 22px;
    box-shadow: 0 3px 3px -1px #707070;
}