.menu_wrapper.active {
    display: flex;
}

.menu_wrapper {

    position: fixed;
    width:100%;
    height: 100%;
    background-color: #000a;
    z-index: 11111;
    display: none;
}

.menu_body {
    width:100%;
    height: 50vh;
    min-height: 400px;
    background-color: #0068B5;
    background-image: url(../img/banner_blk_bg_1.svg), url(../img/banner_blk_bg_2.svg);
    background-position: top left, right bottom;
    background-repeat: no-repeat;
    border-radius: 0 0 12px 12px;
    display: flex;
    padding: 40px 30px;
}

.menu_body .puncts {
    margin-left: auto;
}


.menu_body .puncts li {
    text-align: right;
}

.menu_body .puncts li a::before{
    content:"";
    width:10px;
    height: 10px;
    top:calc(50% - 6px);
    left:0;
    background-image: url(../img/icons/arrow-mini-white.svg);
    background-position: center;
    background-size: cover;
    position: absolute;
    transform: rotate(180deg);
}

.menu_body .puncts li a{
    text-align: right;
    color: white;
    font-size: 28px;
    font-weight: 700;
    margin: 15px 0;
    display: inline-block;
    position: relative;
    padding-left: 20px;
}

.menu_body .puncts li a:hover::before{
    content:"";
    left:-5px;
}


@media (max-width: 768px) {
    .menu_wrapper {
        min-height: 420px;
    }
}

@media (max-width: 480px) {
    .menu_body .puncts li a {
        font-size: 22px;
        margin: 10px 0;
    }
}


@media (max-width: 375px) {
    .menu_body .puncts li a {
        font-size: 18px;
        margin: 10px 0;
    }
    .menu_body .puncts li a::before {
        width: 7px;
        height: 7px;
    }
}
